@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=RocknRoll+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "RocknRoll One", sans-serif;
}

body button {
  color: black;
  display: block;
  padding: 20px 0px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 20px;
}

header {
  margin: 0 10px;
}

#night {
  margin: 2px;
  width: 5%;
  padding: 0.5%;
  cursor: pointer;
  border: none;
}

#night:hover {
  background: black;
  color: white;
}

h1,
h2,
p {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: white;
}

h2,
p {
  margin-bottom: 10px;
}

#gameWindow,
#computerChoice,
#phoneWelcome {
  display: none;
}

#gameWindow .text-right {
  float: right;
}

#computerWelcome {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s,
    opacity 0.5s linear;
}

#computerChoice {
  text-align: center;
}

#scoreBoard h2 {
  display: inline-block;
  margin: 0px 20px;
}

#scoreBoard h3 {
  font-size: 20px;
}

#scoreBoard p {
  margin: 10px 20px;
  font-size: 18px;
}

#buttonContainer {
  margin-top: 5%;
  display: flex;
}

#btnChoices,
#btnChoicesCom {
  width: 50%;
}

#buttonContainer button {
  width: 60%;
  margin: 20px auto;
}

#btnChoices button {
  background: #91F7B5;
}

#btnChoicesCom button {
  background: #E0DDB5;
}

#outcomeMessage {
  margin-top: 7%;
}

#enterName {
  display: block;
  margin: 3% auto;
  padding: 20px 0;
  border: none;
  border-radius: 14px;
  color: white;
  background: black;
  font-size: 20px;
  width: 30%;
  text-align: center;
}

#startGame {
  width: 30%;
  margin: 0 auto;
  color: white;
  background-color: #B63B4A;
}

#buttonContainer button:hover {
  background-color: #CFD2D0;
}

button i {
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  #btnChoicesCom {
    display: none;
  }

  #computerWelcome {
    display: none;
  }

  #computerChoice {
    display: block;
  }

  #gameWindow .text-right {
    float: none;
  }

  #scoreBoard {
    text-align: center;
  }

  #scoreBoard p {
    font-size: 10px;
    margin: 10px;
  }

  #buttonContainer {
    display: block;
  }

  #btnChoices {
    width: 100%;
  }

  #night {
    margin: 2px;
    width: 14%;
    padding: 0.5%;
    cursor: pointer;
    border: none;
  }

  #enterName,
  #startGame {
    width: 90%;
  }

  #phoneWelcome {
    display: block;
  }
}